.menu{
    background-color: #8a8a8a;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    column-gap: 2%;
    width: 100%
}
.menu-item{
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}