.footer{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 2em 0 2em 2em;
    margin-top: 3em;
    min-width: 900px;
}
.footer-fixed{

    position: fixed;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 2em 0 2em 2em;
    margin-top: 3em;
    min-width: 900px;

}
.footer-item{
    margin: 5px 0px 0px 10px;
}

.placeholder{
    margin-top: 5px; 
    font-weight: bold;
    color: transparent;
}
#mapa{
    margin: 5px 0px 0px 10px;  
    font-weight: bold;
}
.footer-span{
    font-weight: bold;
}
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: underline;
    
  }
@media (max-width: 900px) {
    .footer{
        width: 900px;
        display: grid;
        grid-template-columns: 25% 25% 50%;
        height: auto;
        margin-top: 3em;
        min-width: 900px;
        background-color: white;
        padding: 2em 0 2em 2em;
    }
}